<div class="beer-block">
    <div class="beer-img">
        <img src="<%= beer.beer_label %>" alt="<%= beer.beer_name %> Label" />
    </div>
    <h4 class="beer-name">
        <a
            class="beer-name-anchor"
            href="/beer/<%= beer.beer_slug %>?id=<%= beer.bid %>"
            ><%= beer.beer_name %></a
        >
    </h4>
    <p class="beer-rating">
        Rating: <%= beer.rating_score %>
    </p>
    <p class="beer-style">
        Style: <%= beer.beer_style %>
    </p>
    <p class="beer-abv">
        ABV: <%= beer.beer_abv %>
    </p>
    <p class="beer-ibu">
        IBU: <%= beer.beer_ibu %>
    </p>
</div>
