<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title><%= beer.brewery.brewery_name %> - <%= beer.beer_name %></title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300'  type='text/css'>
    <link
        href="https://fonts.googleapis.com/css?family=Bubblegum+Sans"
        rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
    />
</head>

<body>
    <%- include('components/header'); %>
    <div class="container beer-container">
        <% if(beer !== null){ %>
            <div class="beer-image">
                <img src="<%= beer.beer_label %>" alt="<%= beer.brewery.brewery_name %> - <%= beer.beer_name %>">
            </div>
            <div class="beer-name">
                <%= beer.beer_name %><br>
                <a href="/brewery/<%= beer.brewery.brewery_slug %>?id=<%= beer.brewery.brewery_id %>"><%= beer.brewery.brewery_name %></a>
            </div>
            <div class="beer-style">
                Style: <%= beer.beer_style %>
            </div>
            <div class="beer-abv" id="abv" data-value="<%= beer.beer_abv %>">
                ABV: <%= beer.beer_abv %>
            </div>
            <div class="beer-ibu">
                IBU: <%= beer.beer_ibu %>
            </div>
            <div class="beer-rating">
                Rating: <%= beer.rating_score %>
            </div>
            <div class="beer-description">
                <%= beer.beer_description %>
            </div>



        <% } %>
        <% if(error !== null){ %>
            <p><%= error %></p>
        <% } %>
    </div>
    <div class="container bac-calculator" id="bac-calc">
        <input type="radio" id="female" name="gender" value="female">
        <label for="female">Female</label>
        <input type="radio" id="male" name="gender" value="male">
        <label for="male">Male</label>
        <input
            type="range"
            id="body-weight-slider"
            name="weightSlider"
            min="0"
            max="800"
            value="150"
            step="5">
        <label id="weight-label" for="bodyWeight">Body Weight: </label>
        <input
            type="range"
            id="drinks-slider"
            name="drinksSlider"
            min="0"
            max="30"
            value="1"
            step="1">
        <label id="drinks-label" for="drinkSlider">Drinks (12oz): </label>
        <input
            type="range"
            id="hours-slider"
            name="hoursSlider"
            min="0"
            max="12"
            value="1"
            step=".25">
        <label id="hours-label" for="hours">Hours: </label>
        <p id="bac-total">BAC: </p>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>
