<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title><%= brewery.brewery_name %></title>
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300"
            type="text/css"
        />
        <link
            href="https://fonts.googleapis.com/css?family=Bubblegum+Sans"
            rel="stylesheet"
        />
        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <%- include('components/header'); %>
        <div class="container brewery-container">
            <% if(brewery !== null){ %>
            <div class="brewery-img grid-col">
                <% if(brewery.brewery_label_hd) { %>
                <img
                    src="<%= brewery.brewery_label_hd %>"
                    alt="<%= brewery.brewery_name %> Logo"
                />
                <% } else if(brewery.brewery_label) { %>
                <img
                    src="<%= brewery.brewery_label %>"
                    alt="<%= brewery.brewery_name %> Logo"
                />
                <% } %>
            </div>
            <div class="brewery-info grid-col">
                <h3 class="brewery-name">
                    <%= brewery.brewery_name %>
                </h3>
                <p class="brewery-type">
                    <%= brewery.brewery_type %>
                </p>
                <div class="brewery-address">
                    <%= brewery.location.brewery_address %><br />
                    <%= brewery.location.brewery_city %>, <%=
                    brewery.location.brewery_state %>
                </div>
                <% if(brewery.contact.url) { %>
                <div class="brewery-website">
                    <a href="<%= brewery.contact.url %>">Website</a>
                </div>
                <% } %>
                <p class="brewery-rating">
                    Rating: <%= brewery.rating.rating_score %>
                </p>
            </div>

            <% if(brewery.brewery_description) { %>
            <div class="brewery-description grid-col">
                <p><%= brewery.brewery_description %></p>
            </div>
            <% } %> <% if(brewery.location.brewery_lng,
            brewery.location.brewery_lat) { %>
            <div class="brewery-map grid-col">
                <iframe
                    id="map-frame"
                    width="700px"
                    height="500px"
                    frameborder="0"
                    style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCnPeSCSirjqSR0T5aX2dpKFhN9I7Xefjs&q=<%= brewery.location.brewery_lat %>,<%= brewery.location.brewery_lng %>"
                    zoom="70"
                    allowfullscreen
                >
                </iframe>
            </div>
            <% } %> <% if(beers !== null){ %>
            <div class="brewery-beers-container grid-col">
                <h3 class="title">Beers</h3>
                <input
                    type="text"
                    id="filter-input"
                    placeholder="Search for beers.."
                />
                <ul class="brewery-beers" id="brewery-beer-list">
                    <% beers.forEach(function(beer){ %> <%-
                    include('components/beer-block', {beer: beer.beer}); %> <%
                    }); %>
                </ul>
                <a
                    class="beer-see-more ghost-button"
                    href="/<%= brewery.brewery_slug %>/beers?name=<%=
                    brewery.brewery_name %>"
                    >See More Beers
                </a>
            </div>
            <% } %> <% } %> <% if(error !== null){ %>
            <p><%= error %></p>
            <% } %>
        </div>
        <script src="../js/main.js"></script>
    </body>
</html>
